pytz
chardet ~= 3.0.0
toml ; python_version > "3.7"
pyyaml ; python_version <= "3.10" and python_version > "3.7"
# this will be ignored (not included in lock) when locking in a 3.7 environment
nose ; python_version > "3.7"
